<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'meta-tags' %}

    <meta name="theme-color" content="{{ settings.background_color }}">
    <meta name="color-scheme" content="light">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://cdn.shopifycloud.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="dns-prefetch" href="//cdn.shopify.com">
    <link rel="dns-prefetch" href="//cdn.shopifycloud.com">
    <link rel="dns-prefetch" href="//fonts.shopifycdn.com">

    {% render 'css-variables' %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {{ content_for_header }}
  </head>

  <body
    class="template-{{ template.name | handle }} page-type-{{ request.page_type }}"
    style="
      background-color: var(--color-background);
      color: var(--color-foreground);
    "
  >
    <a class="skip-link" href="#main-content">
      {{ 'general.accessibility.skip_to_content' | t }}
    </a>

    {% sections 'header-group' %}

    <main id="main-content" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    {% render 'cart-drawer' %}
  </body>
</html>
